{% load staticfiles %}
<footer class="main-footer" style="margin-left: 0px">
    <div class="pull-right hidden-xs">
        Poker Planner Application
    </div>
    <strong>Copyright &copy; 2018 <a href="https://www.linkedin.com/in/karolinalisowska/">Karolina
        Lisowska</a>.</strong> All rights reserved.
</footer>

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%} "></script>
<script src="{% static 'js/adminlte/js/app.min.js' %}"></script>