{% load staticfiles %}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Anything you want
    </div>
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
</footer>

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%} "></script>
<script src="{% static 'js/adminlte/js/app.min.js' %}"></script>
{#<script src="{% static 'js/adminlte/js/demo.js' %}"></script>#}