{% extends 'index/base.html' %}
{% load staticfiles %}

{% block additional_scripts %}
    {{ block.super }}
    <script src="{% static 'js/adminlte/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'plugins/creative_gh_lp/js/creative.min.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Jeżeli użytkownik jest nie zalogowany -->
    {% if user.is_authenticated.value is False %}
        <div class="row">
            {% include 'index/controls/landing_page.html' %}
        </div>
    {% else %}
        <!-- Jeżeli użytkownik jest scrum masterem to dodany jest dashboard-->
        {% if user.is_superuser %}
            <div class="row"
                 style="background-image: url('{% static 'resources/dashboard_bg.jpg' %}'); padding-top: 15px">
                {% include 'index/controls/scrum_master_dashboard.html' %}
            </div>
        {% endif %}
        <!-- Jeżeli jest zwykłym użytkownikiem widzi tylko historyjki -->
        <div class="row" style="background-image: url('{% static 'resources/dashboard_bg.jpg' %}')">
            {% include 'index/controls/story_preview_widget.html' %}
        </div>
    {% endif %}
{% endblock %}